
body{
  width: 700px;
  margin: auto;
}
#grid{
  outline: 4px solid;
  margin-top: 20px;
  background-color: black; 
  width:600px;
  padding-bottom 20px;
}
body,button{
  font-family: 'VT323';
}
h1, h2{
  font-family: 'Press Start 2P', cursive;
}

button{
  color: black;
  background-color:white;
  border: 2px solid black;
  font-size:  20px;
}
button:hover{
  background-color:black;
  border: 2px solid white;
  color: white;
}
label{
          font-size: 20px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/radioButton.png) left top no-repeat;
}
input[type="radio"]:checked + label span {
    background:url(../images/radioButton.png) -14px top no-repeat;
}
.block{
  top: 0;
  left: 0;
  float: left;
  background-color: white;
  border: 1px none #eee;
  display:inline-block;
  
}
.clear{
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  
}
.draw {
    background-color:#556677;
    transition: background-color 2.0s ease;
    
}
